.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
  }
  
  :local .navBar :local .navSection {
    padding: 2.5rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 4rem;
    height: 4rem;
    color: var(--mdc-theme-primary);
  }
  
  .logoLink {
      display: flex;
      align-items: center;
      gap: 1rem;
  }
  
  .logoSection,
  .linksSection {
    flex-basis: calc(100% / 3);
  }
  
  .navSection.logoSection {
    justify-content: flex-start;
  }
  
  .navSection.linksSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
  }
  
  .blogLink,
  .contactLink,
  .logoLink {
    text-transform: uppercase;
    color: var(--mdc-theme-on-surface);
    font-weight: 700;
    transition: color .2s ease-in-out;
    font-size: 1.2rem;
  }
  
  .blogLink:hover,
  .socialLink:hover {
    color: var(--mdc-theme-primary);
  }
  
  .navSection.socialLinks {
    gap: 2rem;
  }
  
  .socialLink {
    color: var(--mdc-theme-on-surface);
    text-decoration: none;
    width: 1.4rem;
    transition: color .2s ease-in-out;
  }
  
  .socialLinks,
  .contactLinkSection {
    flex-grow: 1;
  }