.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.navBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

:local .navBar :local .navSection {
  padding: 2.5rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

.logo {
  width: 4rem;
  height: 4rem;
  color: var(--mdc-theme-primary);
}

.logoLink {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logoSection,
.linksSection {
  flex-basis: calc(100% / 3);
}

.navSection.logoSection {
  justify-content: flex-start;
}

.navSection.linksSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.blogLink,
.contactLink,
.logoLink {
  text-transform: uppercase;
  color: var(--mdc-theme-on-surface);
  font-weight: 700;
  transition: color .2s ease-in-out;
  font-size: 1.2rem;
}

.blogLink:hover,
.socialLink:hover {
  color: var(--mdc-theme-primary);
}

.navSection.socialLinks {
  gap: 2rem;
}

.socialLink {
  color: var(--mdc-theme-on-surface);
  text-decoration: none;
  width: 1.4rem;
  transition: color .2s ease-in-out;
}

.socialLinks,
.contactLinkSection {
  flex-grow: 1;
}

.main {
  flex-grow: 1;
}

.article {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1.8fr 1.2fr;
}

.articleSection {
  height: 100%;
}

.articleSectionDescription,
.articleSectionNav {
  border-left: 1px solid var(--border-color);
}

.articleSectionTitle,
.articleSectionNav {
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding: 2.5rem;
}

.articleSectionNav {
  justify-content: center;
}

.articleSectionImage {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.devAnimation {
  width: 100%;
  height: 100%; 
  flex-grow: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2rem;
}


.articleSectionDescription {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.articleTitle, .articleBlogLink {
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 900;
  color: var(--mdc-theme-on-surface);
}

.technologies {
  display: flex;
  gap: 1rem;
}

.technology {
  width: 30px;
  height: 30px;
  color: var(--mdc-theme-primary);
}
