.container {
  max-width: 80rem;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto 6rem;
}

.postContent {
  max-width: 900px;
  margin: 2rem auto;
  width: 100%;
}


.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 1rem;
}

.logoLayout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.headerImage {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.toggler {
  margin-bottom: auto;
}

.profileInnerImage {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--mdc-theme-text-primary-on-background);
}
