.heading {
  min-height: 64px;
}

.heading:hover {
    text-decoration: underline;
}

.body {
  text-decoration: none;
  flex: 1 1 auto;
}

.body:hover {
  text-decoration: none;
}



.ImageWrapper {
  display: flex;
  flex-direction: column;
}
