.container {
  max-width: 87.5rem;
  width: 100%;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerImage {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.headerHomeImage {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.toggler {
  margin-bottom: auto;
}
